body {
	background-color: #F0F0F0;
	font-family: Verdana, Arial, Helvetica;
	color: #990000;	
}


table, table *{	
	border: 1px solid black;
	border-collapse: collapse;
	box-sizing: border-box;
	
}

table {
	min-width: 100vw;
	
}


td {


}
.imagenes{
	float: right;
	display:flex;
	
}


.caracteristicas{
	float: left;
}


.encabezado{
	text-align: center;
	flex-direction: row;
	
}


img{
	max-height: 200px;
	width:auto;
	object-fit:cover;
}