body {
	background-color: #F0F0F0;
	font-family: Verdana, Arial, Helvetica;
	color: #990000;
}


h1{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}


#formulario_registro, fieldset, #par_label_input{
	display:flex;
	flex-direction:column;
	
}

#formulario_registro{
	justify-content:center;
	align-items: center;
}

fieldset{
	
}

#par_label_input{

}

label{
	text-transform:capitalize;
}






footer {
	text-align: center;
	padding: 20px;
}

#descripcion_pagina {
	font-style: italic;
	font-size: 14px;
	color: #333;
}
.autor{
	font-size: 1.3em;
	text-transform: capitalize;
}
.tp_ejer{
	font-weight:bold;
}