p{
	border: 5px red solid;
}

article p:nth-of-type(2){
	border: 5px red dotted;
}

article p:nth-of-type(3){
	border: 5px red dashed;
}


article p:nth-of-type(4){
	border: 5px red double;
}


article p:nth-of-type(5){
	border:  5px red groove;
}


article p:nth-of-type(6){
	border: 5px red ridge;
}


article p:nth-of-type(7){
	border:  5px red inset;
}


article p:nth-of-type(8){
	border: 5px red outset;
}